<EditForm Model="Loan" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Book</label>
        <select @bind="Loan.BookId" class="form-control">
            <option value="">Select a book</option>
            @foreach (var book in Books)
            {
                <option value="@book.Id">@book.Title</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Reader</label>
        <select @bind="Loan.ReaderId" class="form-control">
            <option value="">Select a reader</option>
            @foreach (var reader in Readers)
            {
                <option value="@reader.Id">@reader.Name</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">BorrowDate</label>
        <InputDate @bind-Value="Loan.BorrowDate" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">ReturnDate</label>
        <InputDate @bind-Value="Loan.ReturnDeadline" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary form-control">@ButtonTitle</button>
</EditForm>

@code {
    [Parameter]
    public IEnumerable<Book> Books { get; set; }

    [Parameter]
    public IEnumerable<Reader> Readers { get; set; }

    [Parameter]
    public LoanDTO Loan { get; set; }

    [Parameter]
    public IEnumerable<Loan> Loans { get; set; }

    [Parameter]
    public string ButtonTitle { get; set; }

    [Parameter]
    public Func<Task> OnValidSubmit { get; set; }

    protected override void OnInitialized()
    {


        if (Loan.BorrowDate == default)
        {
            Loan.BorrowDate = DateTime.Now.Date;
        }

        if (Loan.ReturnDeadline == default)
        {
            Loan.ReturnDeadline = DateTime.Now.Date;
        }
    }

    private string FormatDate(DateTime date)
    {
        return date.ToString("yyyy-MM-dd");
    }

    private bool IsBookInLoan(int bookId)
    {
        foreach (var loan in Loans)
        {
            if (loan.Book.Id == bookId)
            {
                return true;
            }
        }
        return false;
    }
}
